<?xml version="1.0" encoding="UTF-8"?>
<!--
	logback.xml的基本配置信息都包含在configuration标签中，
	需要含有至少一个appender标签用于指定日志输出方式和输出格式，
	root标签为系统默认日志进程，通过level指定日志级别，
	通过appender-ref关联指定的日志输出方式。
 -->
<!-- 定义 每隔60秒中扫描该文件，有变更重新加载，debug查看logback运行状态 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--定义日志统一级别-->
    <property name="LOG_LEVEL" value="TRACE"/>

    <!-- 控制台输出的日志规则 -->
    <appender name="STDOUT_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--根节点-->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT_APPENDER"/>
    </root>
</configuration>